* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    position: relative;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}
footer {
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
}

.spacing {
    margin-top: 40px;
}

.small-spacing {
    margin-top: 20px;
}

img {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.coupon-img {
    max-height: 150px;
}
